<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Bakey App</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/app_1.css" />
  </head>

   <body>
      <div class="wrapper">
         <div>
            <h1>Welcome to Lakewood Bakery</h1>
            <h3>Select route by it's number <%=@user.user_name %></h3>
            <div>
               
               <form class="logout" method="post" action="/logout" style="margin-right: 80%; margin-bottom: 10%">
                  <button type="submit">Log out</button>
               </form>
            </div>
            
            <footer class="branding">
               <small><strong>Big enough to serve, small enough to care</strong></small><br>
               <small>&copy; 2021 <strong>Bakery App</strong></small>
            </footer>
         </div>
      </div>  
   </body> 
<html>