<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Bakery App</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/app_1.css" />
  </head>

   <body>
        <div class="wrapper">

            <div>
                <h1>Ouuupss..</h1>
                <h3>It seems there was a problem. Please fill in all forms  <a href="/stops/new">return to page</a> and try again.</h3>
            </div>

            <footer class="branding">
                   <small><strong>Big enough to serve, small enough to care</strong></small><br>
                   <small>&copy; 2021 <strong>Bakery App</strong></small>
            </footer>
        </div>  
   </body> 
<html>