
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Bakey App</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/app_1.css" />
  </head>

   <body>
      <div class="wrapper">
        <h1>Add a new stop to Lakewood Bakery</h1>
        <h4><a href="/account/<%=current_user.user_name%>">home</a><h4>
        <h4><a href="/logout">Logout</a><h4>
        <div>
            <div style="padding: 10% 10% 15% 10%; background-color: rgb(6,120,135);text-align: left;">
               <form action="/stops/new" method="POST">
                  <label><strong>Route Number</strong></label>
                
                  <br>
                
                  <input type="text" name="route[route_number]">
                  <br><br>
                  
                  <h3 style="margin-bottom: 0%;">New Stop</h3><hr><br>
                  <label>Stop Name</label>
                  <br>
                  <input type="text" name="stop[name]" id="name"><br><br>
                  <label>Address</label>
                  <br>
                  <input type="text" name="stop[adresse]" id="address"><br><br>
                  <label>Phone number</label>
                  <br>
                  <input type="text" name="stop[phone_number]" id="phone_number"><br><br>
                  <br>
                
                  <input type="submit" value="Add Stop">
                </form>
            </div>
        </div>
        <footer class="branding">
               <small><strong>Big enough to serve, small enough to care</strong></small><br>
               <small>&copy; 2021 <strong>Bakery App</strong></small>
        </footer>
      </div>  
   </body> 
<html>