<form action="/stops" method="POST">
  <label>Name:</label>

  <br>

  <input type="text" name="owner[name]">

  <h3>New Stop</h3>
  <label>Stop Name: </label>
  <br>
  <input type="text" name="pet[name]" id="pet_name"></input>
  <br><br>

  <input type="submit" value="Add new Stop">
</form>