<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Bakey App</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/app_2.css" />
  </head>

   <body>
      <div class="wrapper"> 
         <div class="stops">
            <h1>Welcome to Lakewood Bakery</h1>
            
            <div>
                <%if @stops.size != 0%>
                   <ol>
                   <h2>Route <%= @stops[0].route.route_number %> stops</h2>
                    <% @stops.each do |stop| %>
                      <li>
                        <a href="/stops/<%= stop.id %>">
                          <%= stop.name %> 
                        </a>
                      </li><br>
                    <% end %>
                    </ol>
                <%else%>
                   <p><strong>No stops yet for route <%=@route.route_number %></strong></p>
                <%end%>
            </div>
            
            <footer class="branding">
               <small><strong>Big enough to serve, small enough to care</strong></small><br>
               <small>&copy; 2021 <strong>Bakery App</strong></small>
            </footer>
         </div>
      </div>  
   </body> 
<html>